<%- include("header") -%>
  <h1><%= listTitle %></h1>
  <ul>
    <% for (var i=0; i < newTasks.length; i++) { %>
      <li><%= newTasks[i] %></li>
    <% }; %>
    
  </ul>
  <form action="/" method="post">
    <input type="text" name="newTask" />
    <button type="submit" name="button" value="<%= listTitle %>">Add</button> 
  </form>
  <img src="images/sample.jpg" />
  
  <%- include("footer") -%>